<h1>User</h1>

<p>
  <strong>First name:</strong>
  {{input type="text" value=model.firstName}}
</p>

<p>
    <strong>Last name:</strong>
    {{input type="text" value=model.lastName}}
</p>

<p>
    <strong>Email:</strong>
    {{input type="text" value=model.email}}
</p>

<p>
    <strong>Birth date:</strong>
    {{input type="text" value=model.birthDate}}
</p>
<button {{action 'saveUser' model}}>Save</button>

{{#link-to 'users'}}Back to overview {{/link-to}}