<h1>User</h1>
<p>
  <strong>First name:</strong>
  {{model.firstName}}
</p>

<p>
    <strong>Last name:</strong>
    {{model.lastName}}
</p>

<p>
    <strong>Email:</strong>
    {{model.email}}
</p>

<p>
    <strong>Birth date:</strong>
    {{model.birthDate}}
</p>

<h2>Fridge</h2>
<p>
    <strong>Brand:</strong>
    {{model.fridge.brand}}
</p>
<p>
    <strong>Last technical check:</strong>
    {{model.fridge.last_technical_check}}
</p>

{{#link-to 'users'}}Back to overview{{/link-to}}