<h1>User</h1>
<p>
  <strong>First name:</strong>
  {{this.model.user.firstName}}
</p>

<p>
    <strong>Last name:</strong>
    {{this.model.user.lastName}}
</p>

<p>
    <strong>Email:</strong>
    {{this.model.user.email}}
</p>

<p>
    <strong>Birth date:</strong>
    {{this.model.user.birthDate}}
</p>

{{outlet}}