<h1>Pet</h1>

<p>
  <strong>Name</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pet.type %>
</p>

<p>
  <strong>Age:</strong>
  <% age_in_parts = ActiveSupport::Duration.build(@pet.age_in_months.months.to_i).parts %>
  <%= "#{age_in_parts[:years]} years, #{age_in_parts[:months]} months"  %>
</p>

<%if @pet.date_of_death %>
<p>
  <strong>Died on:</strong>
  <%= @pet.date_of_death %>
  <%if @pet.type == "Dog" %>
    RIP  <%= @pet.name %>. You were a good boy!
  <%end %>
</p>
<%end %>

<p>
  <strong>Favorite food:</strong>
  <%= @pet.favorite_food %>
</p>

<h2>Food:</h2>

<%= form_tag fridge_path(@pet.user.fridge), method: :put %>

  <h2>
    <%= @pet.name %> ate:
  </h2>
  <p>

    <%= label(:fridge, :food)  %><br>
    <%= select_tag(:food, options_from_collection_for_select(@pet.user.fridge.foods, :id, :type)) %>
  </p>

  <p>
    <%= submit_tag %>
  </p>

<%= link_to 'Back to user', user_path(@pet.user) %>