<h1>Listing users</h1>

<%= link_to 'Create new user', new_user_path %>
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Amount of pets</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.pets_count %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Destroy', user_path(user),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>