<h1>User</h1>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @user.birth_date %>
</p>

<h2>Pets</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Age</th>
    <th>Deceased</th>
    <th>Favorite food</th>
  </tr>

  <% @user.pets.each do |pet| %>
    <tr>
      <td><%= pet.name %></td>
      <td><%= pet.type %></td>
      <% age_in_parts = ActiveSupport::Duration.build(pet.age_in_months.months.to_i).parts %>
      <td><%= "#{age_in_parts[:years]} years, #{age_in_parts[:months]} months"  %></td>
      <td><%= pet.date_of_death %></td>
      <td><%= pet.favorite_food %></td>
    </tr>
  <% end %>
</table>

<h2>Fridge</h2>
<% if @user.fridge %>
  <table>
    <tr>
      <th>Brand</th>
      <th>Last technical check</th>
    </tr>

    <tr>
      <td><%= @user.fridge.brand %></td>
      <td><%= @user.fridge.last_technical_check %></td>
      <td><%= link_to 'Show', user_fridge_path(@user.fridge) %></td>
    </tr>

  </table>
  <% else %>
    <p>This user is not old enough to have a fridge!</p>
<% end %>

<%= link_to 'Back', users_path %>